<% @feed_entries.each do |feed_entry| %>
    <br>
    <p>
    <b> Text: </b>
        <%= auto_link_username(feed_entry.text) %>
        <%= link_to("[view]", feed_entry.url, :target => "_blank") %>
    </p>
    <p>
        <b>ID:</b><%= feed_entry.id %>
        <b>Author: </b> <%= feed_entry.author %>
        <b>GUID:</b> <%= feed_entry.guid %>
    </p>
    <p>
        <b> Date:</b> <%=h feed_entry.published_at %>
    </p>
    <p>
        <b> Retweet Count: </b>
        <%=h feed_entry.retweet_ids.count.to_s %>
    </p>    
    <b>Actions: </b><%= link_to_remote "Create retweet Network",
          :url => {:controller => "feed_entries", :action => "create_retweet_network", :feed_id=> feed_entry.id, :project_id => @project.id}
          %>        
        <%= link_to_remote "Create full retweet Network",
              :url => {:controller => "feed_entries", :action => "create_full_reetweet_nework", :feed_id=> feed_entry.id, :project_id => @project.id}
        %>    
    <br>
    <br>
    <hr>
<% end %>