<div id="left">
  <h2>Navigation</h2>
  <div class="box">
    <%= link_to 'Back to Project', projects_path %>
  </div>
  <h2>Overview</h2>
  <div class="box">
    <% if @show_all %>
      Total Feed entries in project <%= @feed_entries_count %>
    <% else %>
      Total Feed entries for person <%= @feed_entries_count %>
    <% end %>
  </div>
  
</div>

<div id="right">
  <div class="contentleft">   
    <h2> Actions </h2>
    <div class="contentleftbox">
      <% if @show_all %>
      <%= link_to_remote 'Collect all peoples tweets', 
          :url => {:controller => 'projects', :action=>'collect_all_project_entries', :id => @project.id},
          :confirm => 'This operation might take a long time. Are you sure?'
      %>
      <br>
      <%= link_to_remote 'Collect retweets for all peoples tweets',
          :url => {:controller => "projects", :action => "collect_all_project_retweets", :id => @project.id},
          :confirm => "Do you have all the tweets for this project?. If yes continue"
      %>
      <br>
        <%= link_to 'Add new tweets', new_project_feed_entry_path %>    
      <br>
      <%= link_to_remote 'Update all peoples tweets',
        :url =>{:controller => 'projects', :action => 'update_all_project_entries'},
        :confirm => 'This operation might take a long time. Are you sure?'
      %>
      <br>
     <%= link_to_remote "Export as CSV",
        :url =>{:controller => "feed_entries", :action => "export_feeds", :project_id => @project.id}
      %>
      <br>
        <%= link_to_remote "Export Keywords",
        :url =>{:controller => "feed_entries", :action => "export_keyword_count", :id => @project.id}
      %>
      <br>
    <% else %>
      <%= link_to "Show analysis of tweets", :action => "show_analysis", :person_id => params[:person_id] %>
      <br>
      <%= link_to_remote "Export as CSV",
         :url =>{:controller => "feed_entries", :action => "export_feeds", :id => params[:person_id] }
       %>
       <br>
      <%= link_to_remote "Collect all Retweets for Tweets of that Person",
          :url => {:controller => "feed_entries", :action => "collect_retweets", :id=> params[:person_id]}
          %>
    <% end %>
    <br>
    </div>
    
    <% if @show_all %>    
      <%= render :partial => "scripts2" %>    
      <h2> Distribution of Collected Tweets per Person </h2>
      <div class="contentleftbox">
          <div id="tweets_chart"></div>      
      </div>
    
      <h2> Distribution of Retweets on Tweets</h2>
      <div class="contentleftbox">
          <div id="tweets_chart2"></div>      
      </div>
    <% end %>
    
    <% if @show_all %>
      <h2> Listing of first 1000 Feed entries in project <%= @project.name %> </h2>
    <% else %>
      <h2> Listing collected Feed entries of person <%= @person.username %> </h2>
      <%= will_paginate @feed_entries %>
    <% end %>    
    <div class="contentleftbox">
      <table >       
        <%= render :partial => "feed_entry", :object => @feed_entries %>
      </table>
    </div>
    <%= will_paginate @feed_entries %>>
  </div>
</div>