<p>
  <b>Name:</b>
  <%=h @feed_entry.text %>
</p>

<p>
  <b>Summary:</b>
  <%=h @feed_entry.author %>
</p>

<p>
  <b>Url:</b>
  <%=h @feed_entry.url %>
</p>

<p>
  <b>Published at:</b>
  <%=h @feed_entry.published_at %>
</p>

<p>
  <b>Guid:</b>
  <%=h @feed_entry.guid %>
</p>

 
<%= link_to 'Back', person_feed_entries_path(@feed_entry.person_id) %>