<%= render :partial => "scripts" %>

<div id="left">
  <h2>Navigation</h2>
  <div class="box">  
    <%= link_to 'Show all people in project', show_all_project_people_path %>
    <br>
    <%= link_to 'Back', projects_path %>
  </div>
  <h2> Overview </h2>
  <div class="box">
    People in Project: <%= @persons.count.to_s %>
  </div>
</div>

<div id="right">
  <div class="contentleft">
    
    
    <h2> Actions </h2>
    <div class="contentleftbox">    
    <%= link_to 'Add new persons to project', new_project_person_path %>    
    <br>
    <br>
    <%= link_to_remote "Update the details on the persons in the project",
        :url => {:controller => "projects", :action => "update_all_project_people"},
        :confirm => "This might take a long while are you sure?"
    %>
    <br>
    <br>
    <%= text_field_tag("max_friends", "Number of Max friends", :size => 20 ) %>  
      <%= link_to_remote 'Collect the egonets of the people in the project', 
                  :url => {:action=>'collect_project_persons_egonets', :project_id => @project.id},
                  :with => "'max_friends=' + $F('max_friends')",
                  :confirm => 'This operation might take a long time. Are you sure?',
                  :loading => "Element.show('spinner')",
                  :complete => "Element.hide('spinner')"
      %>
    <br>
   </div>

    <h2>People by Country</h2>
    <div class="contentleftbox">    
      <div id="map_canvas"></div>
    </div>
    
    <h2> Distribution of log(Followers)</h2>
    <div class="contentleftbox">
      <div id="followers_chart"></div>
    </div>
    
    <h2> Distribution of log(Friends) </h2>
    <div class="contentleftbox">
      <div id="friends_chart"></div>
    </div>
    
    <h2> Distribution of log(Tweets) </h2>
    <div class="contentleftbox">
      <div id="tweets_chart"></div>
    </div>    
    
    <h2> Friends to Follwers Ratio </h2>
    <div class="contentleftbox">
      <div id="friends_to_followers_chart"></div>      
    </div>    
    
    <h2> Friends to Messages Ratio </h2>
    <div class="contentleftbox">
      <div id="friends_to_messages_chart"></div>      
    </div>
    
    <h2> Followers to Messages Ratio </h2>
    <div class="contentleftbox">
      <div id="followers_to_messages_chart"></div>      
    </div>
        
    <h2> Distribution of Last Activity </h2>
    <div class="contentleftbox">
      <div id="last_activity_chart"></div>     
    </div>
    
    <h2> Distribution of Account Age </h2>
    <div class="contentleftbox">
      <div id="join_date_chart"></div>   
    </div>
    
  </div>
</div>
