<div id="left">
  <h2>Help</h2>
  <div class="box">
    Add one new person by typing the username and pressing import one.
    <br>
    Add a csv list of twitter accounts by using the bulk import.
    You can change the number of friends_ids that will be collected for those persons.
  </div>
  <%= link_to 'Back', project_people_path %>

</div>


<div id="right">
  <div class="contentleft">
    <h2>New Person</h2>
    <div class="contentleftbox">
      <% form_for([@project,@person]) do |f| %>
      <%= f.error_messages %>
      <p> Enter Twitter Username </p>
      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
        <br />
        <%= f.label "Collect Friends Edges" %>
        <%= check_box_tag :collect_friends, 1, true %>
        <br/>
        
        
        <%= f.label "Collect Follower Edges" %>
        <%= check_box_tag :collect_followers, 1, true %>
      </p>
      <p>
        <%= f.submit 'Import one Person' %>
      </p>
    <% end %>
    </div>
  </div>

  <div class="contentleft">
    <h2>Bulk Import</h2>
    <div class="contentleftbox">
      <% form_for :dump, :url=>{:controller=>"projects", :action=>"csv_import", :id => @project},
                    :html => { :multipart => true } do |f| -%> 
        <table>
          <tr>
            <td>
             <label for="dump_file">
               Select a CSV File with Twitter Links:
             </label>
            </td>
            <td >
              <%= f.file_field :file -%>
            </td>
          </tr>
        </table>
        <br> Max number of Friends for each person to collect:
        <%= text_field_tag("max_friends", 1000000, :size => 20 ) %>
        <br>
        <%= submit_tag 'Import all Persons' -%>
      <% end -%>
    </div>
  </div>
  
  <div class="contentleft">
    <h2> Union from other projects </h2>
    <div class="contentleftbox">
      <p> Select the projects whose people you want merge in this project:</p>
      <p>
      <%form_for :union, :url=>{:controller=>"projects", :action=>"union", :id => @project} do |f| %>
        <%= select_tag(:union_id, options_from_collection_for_select(Project.all, :id, :name), :multiple => true) %>      
      <br>
      <%= submit_tag 'Union all Persons in this project' -%>
      <% end %>
      
    </div>
  </div>
</div>
