

<div id="spinner" style="display:none;">
  <%= image_tag "ajax-loader.gif" %>
</div>

<div id="left">
  <h2> Actions </h2>
  <div class="box">
    <p>
      <%= render_updates_link @person,@project%>
    </p>
    <p>
      <%= render_friends_link @person,@project %>
    </p>
    <p>
      <%= render_followers_link @person,@project %>
    </p>
    <p>
      <br>
      <hr>
      <%= text_field_tag("max_friends", "Number of Max friends", :size => 20 ) %>  
      <%= link_to_remote 'Collect a 2 Step Friend Egonet', 
                  :url => {:action=>'collect_two_step_egonet', :id => @person.id, :project_id => @project.id},
                  :with => "'maxfriends=' + $F('max_friends')",
                  :confirm => 'This operation might take a long time. Are you sure?',
                  :loading => "Element.show('spinner')",
                  :complete => "Element.hide('spinner')"
      %>
    </p>
    <br>
    <%= link_to 'Back', project_people_path(@project) %>
  </div>
</div>

<div id="right">
  <div class="contentleft">
  <h2><%= @person.name %> in Project <%= @person.project.name %></h2>
    <div class="contentleftbox">
      <p>
      <b>Picture:</b>
       <%=link_to(image_tag(@person.picture, :size => "50x50"),"http://www.twitter.com/" + @person.username)  %>  
      </p>
      <p>
        <b> Category</b>
        <%=h @person.category %>
      </p>
      <p>
      <b>Username:</b>
        <%=h @person.username %>
      </p>
      <p>  
        <b>Name:</b>
        <%=h @person.name %>
      </p>      
      <p>
        <b>Twitter ID:</b>
        <%=h @person.twitter_id %>
      </p>    
      <p>  
        <b>Project:</b>
        <%=h @person.project.name %>
      </p>
      <p>
        <b>Bio:</b>
        <%=h @person.bio %>
      </p>
      <p>
        <b>Location:</b>
        <%=h @person.location %>
      </p>
      <p>
        <b>Acc created at:</b>
        <%=h @person.acc_created_at %>
      </p>
      <p>
        <b>Person updated at:</b>
        <%=h @person.updated_at %>
      </p>
      <p>
        <b>Time offset:</b>
        <%=h @person.time_offset %>
      </p>
    </div>        
  </div>
</div>
