<div id="left">
  <h2> System Messages </h2>
  <div class="box">
    <%= link_to_remote 'Dismiss all Messages',
    :url => {:controller => 'system_messages', :action => 'dismiss_all'} %>
    <%= system_messages %>
  </div>
</div>

<div id="right">
  <div class="contentleft">
    <h1>
      <%= link_to 'New project', new_project_path %>
      <br>
      <br>
    </h1>
    <h2>Listing projects</h2>
    <div class="contentleftbox">       
      <table>      
      <% @projects.each do |project| %>      
        <br>
        <%= render :partial => "project", :locals => {:project => project} %>
        <br>
        <hr>
      <% end %>
      </table>
    </div>
    <h2> Current Processes </h2>
    <div class="contentleftbox">      
      <%= link_to_remote "Start 4 Workers | ", :url =>{:controller => 'projects', :action => 'start_jobs'},:confirm => "Are you sure?" %>
      <%= link_to_remote "Stop 4 Workers", :url =>{:controller => 'projects', :action => 'stop_jobs'},:confirm => "Are you sure?" %>      
      <hr>
      <% Dir[RAILS_ROOT + "/tmp/pids/*"].each do |entry| %>
      <%= File.basename(entry.to_s) %><br>
      <% end %>
    </div>
    <h2> Jobs (<%= @delayed_jobs.length.to_s %>) </h2>
    <div class="contentleftbox">  
    <%= link_to_remote "Delete all Jobs | ", :url =>{:controller => 'projects', :action => 'delete_jobs'},:confirm => "Are you sure?" %>  
    <hr>
    <table>
      <tr>
        <th>Job</th>
        <th>Errors</th>
        <th>Attempts</th>
      </tr>
      <% @delayed_jobs.each do |delayed_job| %>
      <tr>
        <td>
          <%= truncate(delayed_job.handler.to_s, :length => 14) %>
        <td>
        <td>
        <%= "Attempts:" + delayed_job.attempts.to_s + " " + delayed_job.last_error.to_s %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  </div>
</div>